@font-face {
    font-family: 'Nova Flat';
    src: url('./assets/Fonts/NovaFlat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/Fonts/Quicksand.ttf') format('truetype');
}

@font-face {
    font-family: 'Redaction';
    font-weight: normal;
    src: url('./assets/Fonts/redaction-35.ttf') format('truetype');
}

@font-face {
    font-family: 'Redaction';
    font-weight: bold;
    src: url('./assets/Fonts/redaction-35-Bold.ttf') format('truetype');
}


html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.focusScreen{
    height: 100vh;
    display: flex;
}

.link {
    font-size: 2vh;
    color: black;
    text-decoration: none;

    }

    a:hover {
        font-weight: bolder;
        color: #f24900;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
}

#root{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;

    /* To set according to user's time
        > morning: light blue
        > afternoon: orange
        > night: dark blue
    */
    background-color: lightblue;
}

.Sidebar{
    width: calc(50vw - 66.6667vh);
    background-color: rebeccapurple;
}

.CalicOS{
    height: 100vh;
    width: calc(100vh * 4 / 3);
    margin: 0 auto;
    
    background-image: url('./assets/background.webp');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleBar{
    bottom: 0;
    width: calc(100vh * 4 / 3);
    position: fixed;
    text-align: right;
}

#title{
    font-family: 'Nova Flat', sans-serif;
    text-align: right;
    margin: 0;
    margin-bottom: 10vh;
    margin-right: 5vw;
    font-size: 4em;
}

#icons{
    font-family: 'Redaction', sans-serif;
    color: black;
    -webkit-text-stroke: 2px white;
    paint-order: stroke fill;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#icons img{
    height: 10vh;
    display: block;
    margin-bottom: 4px;
}

#icons a{
    font-size: 3vh;
}

.bottomBar{
    background-color: #D9D9D9;
    text-align: right;
    padding: .3vh 1.5vw;
    font-size: 2.5vh;
    position: fixed;

    height: 5vh;
    width: calc(100vh * 4 / 3);
    bottom: 0;
}