@font-face {
    font-family: 'Nova Flat';
    src: url('./assets/Fonts/NovaFlat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/Fonts/Quicksand.ttf') format('truetype');
}


html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

footer{
    background-color: #D9D9D9;
    text-align: right;
    padding: 1.5vw;
    font-size: 2.5vh;
}

#root{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.Sidebar{
    height: 100vh;
    width: 12.5vw;
    background-color: rebeccapurple;
}

.CalicOS{
    height: 100vh;
    width: 75vw;
    background-image: url('./assets/background.jpg');
    background-size: cover;
}

#title{
    font-family: "Nova Flat", sans-serif;
    text-align: center;
    text-align: right;
    margin: 0;
    margin-bottom: 10vh;
    margin-right: 5vw;
    font-size: 4em;
}

#icons{
    display: flex;
}